<footer class="o-techdocs-footer">
  <div class="footer-logo">
    <span class="origami-logo"></span>Origami
  </div>
  <p>Help or advice for FT staff on any aspect of Origami is available from <a href="mailto:origami.support@ft.com">origami.support@ft.com</a> (public users please <a href="https://github.com/Financial-Times/ft-origami/issues">raise an issue on the repo</a> instead)</p>
  <p>The Origami team uses <a href="https://www.browserstack.com/">BrowserStack</a> to test user interface components in most commonly used browsers.</p>
  <p>&copy; THE FINANCIAL TIMES LTD {{ site.time | date:'%Y' }}. FT and 'Financial Times' are trademarks of The Financial Times Ltd.</p>
</footer>
