<div class="hero">
	<div class="hero__primary">
		<div class="o-grid-row">
			<div data-o-grid-colspan="full-width">
				<h1 class="hero__title">Origami</h1>
				<p class="hero__summary">
					Unifying branding across FT digital products.
				</p>
				<p class="hero__summary">
					Making web development better, faster, stronger.
				</p>
				<div class="hero__actions">
					<a href="{{ site.baseurl }}/docs/developer-guide/" class="o-buttons o-buttons--big o-buttons--inverse" title="Developer guide">
						Start coding
					</a>
					<a href="{{ site.baseurl }}/docs/overview/non-technical/" class="o-buttons o-buttons--inverse o-buttons--big" title="Non-technical introduction">
						Learn more
					</a>

				</div>
			</div>
		</div>
	</div>

	<div class="hero__secondary">
		<div class="o-grid-row">
			<div data-o-grid-colspan="full-width">

				<h2>We build things to help ship better products, faster:</h2>

				<ul class="tools o-grid-row">
					<li class="tools__item" data-o-grid-colspan="full-width M4">
						<a href="http://registry.origami.ft.com" class="tools__action">
							<i class="fa fa-connectdevelop"></i>
							<h3 class="tools__name">UI Components</h3>
							<p>The Origami Registry: <br />all modules, services, component demos and documentation.</p>
						</a>
					</li>
					<li class="tools__item" data-o-grid-colspan="full-width M4">
						<a href="https://image.webservices.ft.com/" class="tools__action">
							<i class="fa fa-picture-o"></i>
							<h3 class="tools__name">Image Delivery</h3>
							<p>The Image Service: <br />deliver pictures in many formats, sizes, optimised and delivered over a CDN.</p>
						</a>
					</li>
					<li class="tools__item" data-o-grid-colspan="full-width M4">
						<a href="https://polyfill.io/" class="tools__action">
							<i class="fa fa-cogs"></i>
							<h3 class="tools__name">Polyfill.io</h3>
							<p>Upgrade the web, automatically: <br />code using the latest standards when writing JavaScript applications.</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="hero__tertiary">
		<div class="o-grid-row">
			<div data-o-grid-colspan="full-width">
				<div class="also">
					<h2 class="also__title">And also…</h2>
					<ul class="inline-list">
						<li><a href="https://build.origami.ft.com/v1/">Origami Build Service</a></li>
						<li><a href="https://www.npmjs.com/package/origami-build-tools">Origami Build Tools</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
