<div class="hero">
	<div class="hero__primary">
		<div class="o-grid-row">
			<div data-o-grid-colspan="full-width">
				<h1 class="hero__title">Origami</h1>
				<p class="hero__summary">
					Unifying branding across FT digital products.
				</p>
				<p class="hero__summary">
					Making development better, faster, stronger.
				</p>
				<div class="hero__actions">
					<a href="{{ site.baseurl }}/docs/developer-guide/" class="o-buttons o-buttons--big o-buttons--inverse" title="Developer guide">
						Start using Origami
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
