
/* Bootstrap overrides
   This seems preferable to generating a customised bootstrap CSS file as it enables us to use bootstrap unmodified direct from CDN. */

.ft-grid-row:after {
  display: block;
  clear: both;
  content: '';
}

body {
  padding-bottom: 40px;
  background-color: #FFF1E0; /* $ftColor-Pink */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.428571429;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
a {
  color: #2e6e9e; /* $ftColor-Blue */
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
code {
  background-color: #e9decf; /* ftColor-Tint2 */
  color: #9b164f;  /* $ftColor-Claret */
  white-space: pre-wrap;
}
pre {
  overflow-x: auto;
  border-color: #e9decf; /* $ftColor-Tint2 */
  background-color: #f6e9d8; /* ftColor-Tint1 */
  word-wrap: inherit;
}
pre code {
  white-space: pre;
}
.table-wrap {
  overflow: auto;
  width: 100%;
}
.table {
  margin: 1em 0;
  border-top: 3px solid #f6e9d8; /* $ftColor-Tint1 */
  border-right: 5px solid #f6e9d8; /* $ftColor-Tint1 */
  border-bottom: 3px solid #f6e9d8; /* $ftColor-Tint1 */
  border-left: 5px solid #f6e9d8; /* $ftColor-Tint1 */
  background: #f6e9d8; /* $ftColor-Tint1 */
}
.table thead>tr>th,
.table tbody>tr>th,
.table>tr>th {
  border-bottom: 2px solid #a7a59b; /* $ftColor-WarmGrey1 */
}
.table tbody>tr>td,
.table>tr>td {
  border-bottom: 1px solid #cec6b9; /* $ftColor-Tint3 */
}
.table>tbody>tr:nth-child(odd)>td,
.table>tbody>tr:nth-child(odd)>th {
  background-color: #f6e9d8; /* $ftColor-Tint1 */
}


.main {
  overflow: hidden;
}

.footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted #999;
}





// /* Content */

.main h1 {
  font-weight: normal;
  font-size: 180%;
  margin: 0 0 0.8em 0;
}
.main h2 {
  font-size: 140%;
  font-weight: bold;
  margin: 1.5em 0 0.8em 0;
}
.main h3 {
  font-size: 120%;
  border-bottom: 1px solid #ddd;
}
@include ftGridRespondTo($ftGridLarge) {
  .main h1 {
    border-bottom: 1px solid #999;
    font-size: 225%;
    margin: 0 0 0.8em 0;
  }
  .main h2 {
    font-size: 190%;
    font-weight: 300;
    margin: 1.5em 0 0.8em 0;
  }
  .main h3 {
    font-size: 140%;
    border: 0;
  }
}

@include ftGridRespondTo($ftGridExtraLarge) {
  .main h1 {
    border-bottom: 1px solid #999;
    font-size: 225%;
    margin: 0 0 0.8em 0;
  }
  .main h2 {
    font-size: 190%;
    font-weight: 300;
    margin: 1.5em 0 0.8em 0;
  }
  .main h3 {
    font-size: 140%;
    border: 0;
  }
}

.main > *:first-child {
  margin-top: 0;
}
.main img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.main img:not(.transparent) {
  padding: 1px;
  border: 2px solid #bbb;
  background-color: white;
}
.main .alert-big {
  font-size: 150%;
  margin: 1em 0;
}
.main li>p {
  margin-bottom:0; /* Fix for nested bulleted/numbered lists (Markdown does not consistently wrap in para tags) */
} 

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #e9decf;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  background-color: #f6e9d8; /* ftColor-Tint1 */
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

h4  {
  font-size: 18px;
}

// /* Add the FT Developer logo to the right of the page header on wider devices */