// /* Sidebar */
.sidebar {
  @extend %ft-grid-no-left-gutter-s;
  @extend %ft-grid-no-left-gutter-m;
  @extend %ft-grid-no-right-gutter-s;
  @extend %ft-grid-no-right-gutter-m;
  margin-top: 0;
  padding-right: 0;
  padding-left: 0;
  list-style: none;
}

.nav {
  margin-top: 0;
  margin-bottom: 10px;
  padding-right: 0;
  padding-left: 0;
  background-color: #f6e9d8;
  list-style: none;
}

.sidebar li a {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 6px 10px 6px 30px;
  text-overflow: ellipsis;
  white-space: nowrap; 
}
.sidebar li.active > a {
  padding-left: 15px;
  background-color: #e9decf;
  color: black; 
  font-weight: bold;
  pointer-events: none;
}
.sidebar li.active > a:before {
  display: inline-block;
  width: 15px;
  content: "▸";
}
.sidebar li a:hover {
  background-color: #EBE2D3;
}



.subnav li > a {
  padding: 3px 10px 3px 40px;
  font-size: 90%;
}
.subnav li.active > a {
  padding-left: 25px;
}

#pagenav li a {
  color: #9b164f;  /* $ftColor-Claret */
}
#pagenav.affix {
  position: static;
}

@include ftGridRespondTo ($ft-grid-large)  {
  $navCols: 3, 12;
  #pagenav.affix {
    position: fixed;
    top: 50px;
    width: ftGridPixelWidthOfColumn($ft-grid-large-max-width, $navCols);
    
  }
}
