


@include ftGridRespondTo ($ftGridDefault) {

  .page-header {
  	margin: 40px 0 45px;
  }
  .page-header .page-header-logo {
      height: 60px;
  }

  .page-header h1 {
  	font-size: 36px;
  }
}


@include ftGridRespondTo ($ftGridMedium) {
  .page-header .page-header-logo {
      height: 40px;
  }
  .page-header h1 {
  	font-size: 3em;
  }
}

@include ftGridRespondTo ($ftGridSmall) {
  .page-header .page-header-logo {
      height: 200px;
  }
  .page-header h1 {
  	font-size: 2em;
	margin-top: 5px;
	margin-bottom: 5px;
  }

  .page-header .lead {
  	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 0;
  }
}