<!DOCTYPE html>
<html class="core">
{% include head.html %}
<body class="o-techdocs">
	{% include header.html %}
	<div class="o-techdocs-container">
		<div class="o-techdocs-layout">
			<div class="o-techdocs-sidebar">
				<ul class="o-techdocs-nav">
					{% if page.site_section == 'developer-guide' %}
						<li{% if page.title == 'Developer guide' %} aria-selected="true"{% endif %}>
							<a href="{{ site.baseurl }}/docs/developer-guide/">Introduction</a>
						</li>
						<li {% if page.title == 'Using modules' %} aria-expanded="true" aria-selected="true"{% endif %}>
							<a href="{{ site.baseurl }}/docs/developer-guide/modules/">Modules documentation</a>
							<ul class="o-techdocs-nav o-techdocs-nav--sub">
								<li{% if page.title == 'Origami modules quick start' %} aria-selected="true"{% endif %}>
									<a href="{{ site.baseurl }}/docs/developer-guide/modules/very-quick-origami/">(tutorial) Modules quick start</a>
								</li>
								<li{% if page.title == 'How to pick your build method' %} aria-selected="true"{% endif %}>
									<a href="{{ site.baseurl }}/docs/developer-guide/modules/choosing-your-build-method/">How to pick your build method</a>
								</li>
								<li{% if page.title == 'Build Service guide' %} aria-selected="true"{% endif %}>
									<a href="{{ site.baseurl }}/docs/developer-guide/modules/build-service/">(tutorial) Using the Build Service</a>
								</li>
								<li{% if page.title == 'Manual build process guide' %} aria-selected="true"{% endif %}>
									<a href="{{ site.baseurl }}/docs/developer-guide/modules/building-modules/">(tutorial) Using a manual build process</a>
								</li>
								<li{% if page.title == 'Initialising modules' %} aria-selected="true"{% endif %}>
									<a href="{{ site.baseurl }}/docs/developer-guide/modules/initialising-modules/">How to initialise modules</a>
								</li>
								<li{% if page.title == 'Core vs enhanced experience guide' %} aria-selected="true"{% endif %}>
									<a href="{{ site.baseurl }}/docs/developer-guide/modules/core-vs-enhanced-experience/">Core vs Enhanced experience guide</a>
								</li>
								<li{% if page.title == 'Module versioning' %} aria-selected="true"{% endif %}>
									<a href="{{ site.baseurl }}/docs/developer-guide/modules/module-versioning/">Module versioning</a>
								</li>
								<li{% if page.title == 'Using the Polyfill Service' %} aria-selected="true"{% endif %}>
									<a href="{{ site.baseurl }}/docs/developer-guide/modules/using-the-polyfill-service/">Using the Polyfill Service</a>
								</li>
							</ul>
						</li>
						<li{% if page.title == 'Using web services' %} aria-selected="true"{% endif %}>
							<a href="{{ site.baseurl }}/docs/developer-guide/web-services/">Services documentation</a>
						</li>
						<li{% if page.title == 'General best practices' %} aria-selected="true"{% endif %}>
							<a href="{{ site.baseurl }}/docs/developer-guide/general-best-practices/">General best practices</a>
						</li>
					{% endif %}
					{% if page.site_section == 'about-origami' %}
					<li {% if page.title == 'Component specification' %} aria-expanded="true" aria-selected="true"{% endif %}>
						<a href="{{ site.baseurl }}/docs/component-spec">Component specification</a>
						{% if page.section == 'Component spec' %}
						<ul class="o-techdocs-nav o-techdocs-nav--sub">
							<li{% if page.title == 'Modules' %} aria-selected="true"{% endif %}>
								<a href="{{ site.baseurl }}/docs/component-spec/modules">Modules</a>
							</li>
							<li{% if page.title == 'Web services' %} aria-selected="true"{% endif %}>
								<a href="{{ site.baseurl }}/docs/component-spec/web-services">Web services</a>
							</li>
						</ul>
						{% endif %}
					</li>
					<li {% if page.title == 'Syntax' %} aria-expanded="true" aria-selected="true"{% endif %}>
						<a href="{{ site.baseurl }}/docs/syntax">Syntax standards</a>
						{% if page.section == 'Syntax' %}
						<ul class="o-techdocs-nav o-techdocs-nav--sub">
							<li{% if page.title == 'JavaScript' %} aria-selected="true"{% endif %}>
								<a href="{{ site.baseurl }}/docs/syntax/js">JavaScript</a>
							</li>
							<li{% if page.title == 'HTML' %} aria-selected="true"{% endif %}>
								<a href="{{ site.baseurl }}/docs/syntax/html">HTML</a>
							</li>
							<li{% if page.title == 'SCSS' %} aria-selected="true"{% endif %}>
								<a href="{{ site.baseurl }}/docs/syntax/scss">SCSS</a>
							</li>
							<li{% if page.title == 'Mustache' %} aria-selected="true"{% endif %}>
								<a href="{{ site.baseurl }}/docs/syntax/mustache">Mustache</a>
							</li>
							<li{% if page.title == 'origami.json' %} aria-selected="true"{% endif %}>
								<a href="{{ site.baseurl }}/docs/syntax/origamijson">origami.json</a>
							</li>
							<li{% if page.title == 'Web service description' %} aria-selected="true"{% endif %}>
								<a href="{{ site.baseurl }}/docs/syntax/web-service-description">Web service description</a>
							</li>
							<li{% if page.title == 'Web service index' %} aria-selected="true"{% endif %}>
								<a href="{{ site.baseurl }}/docs/syntax/web-service-index">Web service index</a>
							</li>
							<li{% if page.title == 'Metrics format' %} aria-selected="true"{% endif %}>
								<a href="{{ site.baseurl }}/docs/syntax/metrics">Metrics</a>
							</li>
						</ul>
						{% endif %}
					</li>
					<li{% if page.title == 'Setting up background linters' %} aria-selected="true"{% endif %}>
						<a href="{{ site.baseurl }}/docs/developer-guide/background-linters/">Setting up background linters</a>
					</li>
					<li{% if page.title == 'Third party component A List' %} aria-selected="true"{% endif %}>
						<a href="{{ site.baseurl }}/docs/3rd-party-a-list">Third party component A List</a>
					</li>

					{% endif %}
				</ul>
			</div>

			<div class="o-techdocs-main o-techdocs-content">
				{{ content }}
			</div>

		</div>
	</div>

	{% include footer.html %}
</body>
</html>
