<!DOCTYPE html>
<html lang="en-GB" class="core">
<head>

	<!-- Page meta-information -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{page.title}}</title>
	<meta name="description" content="{{page.description}}" />

	<!-- Cuts the mustard test -->
	<script>
		var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);
		if (cutsTheMustard) {
			document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
		}
	</script>

	<!-- Styles -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<style>
		/* Hide any enhanced experience content when in core mode, and vice versa. */
		.core .o--if-js,
		.enhanced .o--if-no-js {
			display: none !important;
		}
	</style>
	<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-fonts@^3,o-layout@initalise" />
	<link rel="stylesheet" href="/assets/main.css" />
	<!-- Site links -->
	<link rel="sitemap" type="application/xml" href="/sitemap.xml" title="Sitemap" />
	<link rel="canonical" href="{{site.github.url}}{{ page.url | replace: 'index.html', '' }}" />

</head>
<body>
	<div class="o-layout">

		{% include header.html %}

		<div class="o-layout__sidebar">
			<ol class="o-layout__navigation">
				{% for item in page.navigation %}
					<li>
						<a href="#{{ item.name | downcase }}"> {{ item.name }} </a>
					</li>
				{% endfor %}
			</ol>
		</div>
		<div class="o-layout__main">
			{{content}}
		</div>

		{% include footer.html %}
	</div>

</body>
</html>
